#home{height: 100%; color: #1f1f1f; background-color: #fff;}
/*-- Nav Bar --*/
.nav-dark .header {
    background: #fff;
    position: fixed;
    -webkit-transition: none;
    transition: none;
}
.header {
    left: 0; overflow: hidden; padding: 0;
    position: fixed; top: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%; z-index: 3000;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.header-item {display: block; float: left; width: 55%;}
.lockup{font-size: 28px; font-weight: 300; height: 40px; padding: 18px 12px 10px 20px; vertical-align: middle;}
.lockup-logo {height: 36px; width: 38px; background: url(../images/logo.png) no-repeat; background-size: contain; display: inline-block;}
.lockup-brand {opacity: 1; position: relative; top: -10px; left: -5px; font-size: 18px;}
.lockup-partner-logo {height: 36px; width: 138px; margin-left: 10px;
	background: url(../images/partnerlogo.png) no-repeat; background-size: contain; display: inline-block;}

#banner{height: 240px; margin-top: 68px; background-image: url(../images/banner2.png); background-size: cover;}
/*-- Area Below Banner --*/
#container{height: calc(100% - 308px); text-align: left; background-color: #fff;}
.commonCol{height: 100%; display: inline-block;}
#leftCol{width: 30%; float: left; position: relative; max-width: 400px;
	box-sizing: border-box; box-sizing: -webkit-border-box; box-sizing: -moz-border-box;}
#rightCol{width: 70%; position: relative; padding: 30px 0px 10px 0px; background-color: white;
	box-sizing: border-box; box-sizing: -webkit-border-box; box-sizing: -moz-border-box; overflow: auto;}

/*-- Left Column --*/
#leftTop{height: 60%; padding: 30px 30px 10px 30px; /*background-color: #f9f9f9;*/ overflow: auto;}
.leftTopBody{font-size: 0.9em;}
#leftBot{height: 25%; width: calc(100% - 60px); padding: 10px 30px 10px 30px; position: absolute; bottom: 0px; /*background-color: #f9f9f9;*/}
#targetHeading{font-size: 1.2em;}
#targetBar{height: 10px; background-color: #cecece; border-radius: 6px;}
#achievedBar{height: 10px; background-color: #78d87f; border-radius: 6px; width: 40%;}
.targetStats{display: inline-block; margin: 15px 20px 0px 0px;}
.targetEleSmall{font-size: 0.9em; color: #3e54d2;}
.targetEleBig{font-weight: bold;}

/*-- Right Column --*/
#rightColWrapper{width: 86%; max-width: 820px; margin: auto; /*background-color: #fdfdfd;*/}	
#partners{height: 60px; background-image: url(../images/partners.png); 
	/*background-color: #f7f7f7*/; background-repeat: no-repeat;}
#moneyDonation{margin-top: 30px; padding-right: 20px; /*background-color: #f7f7f7;*/}
.form_text_input{border: none; border-bottom: 1px solid black; 
	    width: calc(100% - 120px); height: 34px; margin-right: 17px;}
.donate_btn {-webkit-border-radius: 3; -moz-border-radius: 3; border-radius: 2px;
  font-family: Arial; color: #ffffff; font-size: 16px; background: #7634d9;
  padding: 12px 20px 12px 20px; text-decoration: none; border: none; width: 200px; margin:11px 0px 0px 39px;}
.donate_btn:hover {background: #3cb0fd; text-decoration: none;}
#donationSubtext{width: 92px; color: #206f09; text-align: center; margin-right: 5px; font-size: 16px; display: inline-block;}
#or{margin: 20px 0px 12px;}
#goodsDonation{width: 100%; /*background-color: #f9f9f9;*/}
.goodsItem{height: 180px; width: 160px; display: inline-block; 
	margin: 0px 20px 30px 0px; vertical-align: top;}
.goodImg{height: 80px; width: 70%; margin: 10px auto 0px; 
	background: center no-repeat; background-size: contain;}
.goodItemElement{height: 20px; width: 70%; margin: 0px auto 5px; text-align: center;}
.green{color: #206f09;}
.card1{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1); background-color: white;}
.counter{background-color: black; height: 20px; width: 20px; margin: auto;}
.counterItem{width:30px; height:20px; text-align: center; background-repeat: no-repeat; /*background-color: #e6e6e6;*/ display: inline-block; vertical-align: middle;}
.minus{background-image: url(../images/minus.png); height: 27px !important;}
.plus{background-image: url(../images/plus.png); height: 27px !important;}









#paymentBar{height: 63px; width: 100%; position: absolute; bottom: 0px; margin-left: -39px; 
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1);}
.PBfixed{position: fixed !important; width: 55.1% !important;}
.PBfloat{position: absolute;}
#donate_group{padding: 1px 0px 50px 39px; margin-top: 30px; position: relative;}
.form_text_input{width:380px !important;}
.goodsItem{width: 151px; margin-right: 14px;}

@media only screen and (max-width: 767px){
    #home{height: auto;}
    .form_text_input{width: 160px !important;}
    .goodsItem{width: 160px !important;}
    .donate_btn{width: 150px !important;}
    #paymentBar{width: 100% !important;}
    .lockup-brand{font-size: 13px;}
    #container{height: auto;}
    #leftCol{width: 100%;}
    #rightCol{width: 100%;}
    #leftBot{position: inherit;}
    #moneyDonation{padding-right: 0px;}
}

